
/* HEADER
----------------------------------------------------------------------------------------------------*/

#header {
	margin: 1rem 0 1rem 1rem;
}

.logo__img {
	width: 30%;
	background: url('images/header.png') no-repeat;
	background-size: contain;
}